.dark-mode {
  --color-bg: hsl(232 22% 5%);
  --color-card-bg: hsl(220 20% 8%);
}

:root {
  --color-accent-darker: color-mix(
    in srgb,
    var(--color-accent) 20%,
    var(--color-black)
  );

  --color-accent-lighter: color-mix(
    in srgb,
    var(--color-accent) 20%,
    var(--color-white)
  );

  --gradient-accent-bg: linear-gradient(
    to bottom in oklch,
    var(--color-accent-bg),
    var(--color-accent-lighter)
  );

  --gradient-accent-text: linear-gradient(
    to right in oklch,
    var(--color-accent),
    var(--color-accent-bg)
  );

  --gradient-accent-graphic: linear-gradient(
    to right in oklch,
    var(--color-accent),
    var(--color-accent-bg)
  );

  .gradient-text {
    color: transparent;
    background-clip: text;
    background-image: var(--gradient-accent-text);
  }

  .gradient-link {
    text-decoration: none;
    background-image: var(--gradient-accent-graphic);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 0% 2px;
    transition: background-size var(--duration-md);

    &:hover {
      background-size: 100% 2px;
    }
  }
}

.c-grey-bg {
  color: var(--color-grey-bg);
}
.c-grey-graphic {
  color: var(--color-grey-graphic);
}
.c-grey-text {
  color: var(--color-grey-text);
}
.c-accent {
  color: var(--color-accent);
}
.c-accent-text {
  color: var(--color-accent-text);
}

.mbs-0 {
  margin-block-start: 0;
}
.mbs-1 {
  margin-block-start: 1rem;
}
.mbs-2 {
  margin-block-start: 2rem;
}

.mbe-0 {
  margin-block-end: 0;
}
.mbe-1 {
  margin-block-end: 1rem;
}
.mbe-2 {
  margin-block-end: 2rem;
}

:where(hr, .divider) {
  border: 0;
  width: 100%;
  height: 1px;
  background-color: var(--color-grey-light);
  margin-block: 0;
}

:where(.section-topbar) {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: 1fr auto;
  justify-content: space-between;
  column-gap: 0.5rem;
  row-gap: 1rem;

  h1,
  h2,
  h3,
  h4,
  h4,
  h6 {
    margin-block-end: 0;
  }
}

:where(.flex-wrapper) {
  --gap: 0.5rem;
  --flex-grow: 1;
  display: flex;
  gap: var(--gap);
  flex-grow: var(--flex-grow);
  flex-wrap: wrap;
  align-items: center;
}
