:root {
  --font-family: 'Atkinson Hyperlegible', sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 400;
  --font-weight-bold: 700;
  --line-height: 1.5;
  --line-height-heading: 1.2;

  --app-max-width: 1280px;
  --app-header-height: 4rem;
}

.section-topbar {
  align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-bold);
}
